polkit.addRule(function(action, subject) {
    if (
        subject.isInGroup("users") &&
        subject.active &&
        (
            action.id == "org.freedesktop.login1.reboot" ||
            action.id == "org.freedesktop.login1.power-off" ||
            action.id == "org.freedesktop.login1.halt"
        )
    ) {
        return polkit.Result.YES;
    }
});
