[D-BUS Service]
Name=org.freedesktop.impl.portal.desktop.xapp
Exec=/usr/libexec/xdg-desktop-portal-xapp
SystemdService=xdg-desktop-portal-xapp.service
